.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

i.icon-green {
    color: green;
}
i.icon-red {
    color: red;
}

.panel-heading {
  background-color: #000;
  margin: 5px;
  padding-top: 5px;
}

.mb-0 > p {
  margin: 0;
  padding: 0;
  display: inline;
  margin: 10px;
  margin-left: 50px;
}

.mb-0 > .btn {
  margin: 0;
  padding: 0;
  text-decoration: none;
  float: right;
}

.btn {
  margin: 20px;
}

.tableCell {
  width: 100%;
  margin-bottom: 5px;
}

.collector {
  width: 45%;
  margin: 10px auto;
}

.events-card{
  width: 32%;
  margin: 10px auto;
}


@media screen and (max-width: 800px){
  .collector{
    width: 100%;
    margin: 10px;
  }
  .events-card{
    width: 100%;
    margin: 10px;
  }
}

.spans {
  margin: 0;
   
}
